.header {
    background-color: black;
    -ms-opacity: 1.2;
    opacity: 1.2;
    color: red;
}

div.grid-header-title a {
    color: red;
    opacity: 0.8;
}

div.grid-header-title span {
    color: red;
    opacity: 0.8;
}

.tablebody {
    color: white;
}

td.grid-cell div a {
    text-decoration: none;
    color: green;
}

    td.grid-cell div a:hover {
        text-decoration: none;
        color: red;
    }

#imgId {
    border: 1px solid white;
}

    #imgId:hover {
        -moz-box-shadow: 0 0 30px #ccc;
        -webkit-box-shadow: 0 0 30px #ccc;
        box-shadow: 0 0 30px #ccc;
    }

.imgClass {
    margin-left: 14px;
}
.tablediv {
    border: 1px solid red;
    background-color: #242E30;
}

.pagination li span {
    color: yellow !important;
    background-color: red !important;
    border: 1px solid white !important;
}

.pagination {
    padding-left: 22px;
}
.btn_color{
    background-color:white;
}